<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Urun Kartı</h5>
        <h6 class="card-subtitle mb-2 text-muted">Garanti Belgesi</h6>
        <p class="card-text">Ürün kalitemiz kimse tarafından sorgulanamaz. Birinci kalite ithal üründür.</p>
        <a href="#" class="card-link">2 Yıl Süre</a>
        <a href="#" class="card-link">Trendyol</a>
    </div>
</div>